<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">Home</a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="nutrition-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="nutrition-link">
                <a href="{% url 'products' %}?category=protein" class="dropdown-item">Protein</a>
                <a href="{% url 'products' %}?category=vitamin" class="dropdown-item">Vitamins</a>
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks&Drinks</a>
                <a href="{% url 'products' %}?category=protein,vitamin,snacks" class="dropdown-item">All Nutrition</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="equipment-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipments
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment-link">
                <a href="{% url 'products' %}?category=dumbbells" class="dropdown-item">Dumbbells</a>
                <a href="{% url 'products' %}?category=plates" class="dropdown-item">Plates</a>
                <a href="{% url 'products' %}?category=racks" class="dropdown-item">Racks</a>
                <a href="{% url 'products' %}?category=accessories" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}?category=dumbbells,plates,racks,accessories" class="dropdown-item">All Equipments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" id="plans-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plans-link">
                <a href="{% url 'workout' %}" class="dropdown-item">Workout Plan</a>
            </div>
        </li>

        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="more-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="more-link">
                <a href="{% url 'blog_home' %}" class="dropdown-item">Blog</a>
                <a href="{% url 'contact' %}" class="dropdown-item">Contact Us</a>
            </div>
        </li>
    </ul>
</div>